* {
    Box-Sizing: Border-Box;
    Font-Family: "Poppins", Sans-Serif;
  }
  A {
    Text-Decoration: None;
  }
  .Hero {
    Width: 100%;
    Height: 100vh;
    Background: Url(#);
    Background-Size: Cover;
    
  }
  Nav {
    Display: Flex;
    Align-Items: Center;
    Justify-Content: Space-Between;
    Padding: 30px 100px;
  }
  .Logo {
    Max-Height: 130px;
  }
  Nav Ul Li {
    List-Style: None;
    Display: Inline-Block;
    Padding: 10px 20px;
  }
  Nav Ul Li A {
    Color: #1d1d24;
    Position: Relative;
    Padding: 5px 0;
  }
  Nav Ul Li A:hover {
    Color: #Fd4766;
  }
  Nav Ul Li A:after {
    Content: "";
    Position: Absolute;
    Left: 0;
    Width: 0;
    Height: 3px;
    Background: #Fd4766;
    Transition: 0.3s;
    Bottom: 0;
  }
  Nav Ul Li A:hover:after {
    Width: 100%;
  }
  .Btn {
    Color: #Fff;
    Font-Size: 16px;
    Text-Transform: Uppercase;
    Letter-Spacing: 2px;
    Padding: 16px 40px;
    Border-Radius: 500px;
    Display: Inline-Block;
    Font-Weight: 500;
    Transition: All 0.4s Ease-In-Out;
    Background-Size: 152% 100%;
    Background: #Fd4766;
    Border: 2px Solid #Fd4766;
  }
  .Btn:hover {
    Background: Transparent;
    Border-Color: #Fd4766;
    Color: #Fd4766;
  }
  .Content {
    Position: Absolute;
    Top: 35%;
    Left: 8%;
  }
  .Content .Title {
    Color: #0a0a0a;
    Font-Size: 15px;
    Text-Transform: Uppercase;
    Letter-Spacing: 4px;
    Display: Inline-Block;
    Margin-Bottom: 20px;
    Background: Linear-Gradient(
      120deg,
      #1c99fe 20.69%,
      #7644ff 50.19%,
      #Fd4766 79.69%
    );
    -Webkit-Background-Clip: Text;
    -Webkit-Text-Fill-Color: Transparent;
  }
  .Content H1 {
    Color: #1f1f25;
    Font-Size: 75px;
    Font-Weight: 900;
    Line-Height: 90px;
    Text-Transform: Inherit;
    Width: 70%;
  }
  .Content H1 Span {
    Color: #Fd4766;
  }
  .Content P {
    Width: 55%;
    Color: #202020;
    Margin-Top: 25px;
    Margin-Bottom: 30px;
  }
  
  .b{
    float: right;
    border: 1px solid;
    
  }